:root{
    --mainColor: #ffca02;
    --secondColor: #3561ac;	
}


@font-face {
    font-family: 'poke';
    src: url(./media/Pokefont.ttf);
}

@keyframes moveUp {
    to {
        top: -150%;
    }
}
@keyframes movein {
    from{
        top: 200%;
    }
    to{
        top: 0%;
    }
}


body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: poke;
    text-align: center;
}
#forestBG{
    background-image: url(./media/img/title.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#homeBttns{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#logo{
    position: absolute;
    top: 2%;
    left: 22%;
}
.mainBtn{
    background-color: var(--mainColor);
    border-radius: 10px;
    border: 3px solid var(--secondColor);
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    margin-top: 3%;
    transition: .3s;
    cursor: pointer;
}
.mainBtn:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
    scale: 1.1;
}
#mute{
    position: absolute;
    top: 85%;
    left: 0%;
    background-color: var(--mainColor);
    border-radius: 10px;
    border: 3px solid var(--secondColor);
    width: 10%;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    transition: .3s;
    cursor: pointer;
    scale: 0.6;
}
#mute>img{
    width: 80%;
}
#mute:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}

#selectionScreen{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
#headPlayerSelection{
    position: absolute;
    top : 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    font-size: 170%;
}
#pokeSelectorMini{
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
}
.pokeBox{
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    margin-top: 3%;
    transition: .3s;
    cursor: pointer;
}
.pokeBox>img{
    width: 100%;
    transform: scaleX(-1);
}
.pokeBox:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}
#back{
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: var(--mainColor);
    border-radius: 10px;
    border: 3px solid var(--secondColor);
    width: 15%;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    transition: .3s;
    font-size: 150%;
    cursor: pointer;
    scale: 0.6;
}
#back:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}
#trainerSelector{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 42%;
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    transition: .3s;
    cursor: pointer;
}
#trainerSelector>img{
    width: 90%;
    transform: scaleX(-1);
}
#trainerSelector:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}
.nameSelector{
    font-family: poke;
    position: absolute;
    top: 92%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    font-size: 150%;
}
#finish{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: var(--mainColor);
    border-radius: 10px;
    border: 3px solid var(--secondColor);
    width: 40%;
    height: 10%;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    transition: .3s;
    font-size: 200%;
    cursor: pointer;
    scale: 0.6;
    transition: .3s;
}
#finish:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}
#selectionDetail{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
}
#TrainerArrowL{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 10%;
    padding: 2%;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--mainColor);
    border: 3px solid var(--secondColor);
    transition: 0.3s;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
}
#TrainerArrowL:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}
#TrainerArrowL>img{
    width: 100%;
    scale: -1;
}
#TrainerArrowR>img{
    width: 100%;
}
#TrainerArrowR{
    position: absolute;
    top: 30%;
    right: 20%;
    transform: translate(50%, -50%);
    width: 10%;
    padding: 2%;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--mainColor);
    border: 3px solid var(--secondColor);
    transition: 0.3s;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
}
#TrainerArrowR:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}
#TrainerImgBox{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
}
#TrainerImgBox>img{
    width: 90%;
}
#trainerPerk{
    display: grid;
    grid-template-columns: 10% auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 20%;
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
}
#trainerPerk>img{
    width: 100%;
}
#trainerDetail{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
#saveTrainer{
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: var(--mainColor);
    border-radius: 10px;
    border: 3px solid var(--secondColor);
    width: 40%;
    height: 10%;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    transition: .3s;
    font-size: 200%;
    cursor: pointer;
    scale: 0.6;
    transition: .3s;
}
#saveTrainer:hover{
    background-color: var(--secondColor);
    border: var(--mainColor) solid 3px;
}