@font-face {
    font-family: 'poke';
    src: url(./media/Pokefont.ttf);
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: poke;
    text-align: center;
}
#forestBG{
    background-image: url(./media/img/title.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.mainBtn{
    background-color: #ffca02;
    border-radius: 10px;
    border: 3px solid #3561ac;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    margin-top: 3%;
    transition: .3s;
    cursor: pointer;
}
.mainBtn:hover{
    background-color: #3561ac;
    border: #ffca02 solid 3px;
    scale: 1.1;
}
#mute{
    position: absolute;
    top: 85%;
    left: 0%;
    background-color: #ffca02;
    border-radius: 10px;
    border: 3px solid #3561ac;
    width: 10%;
    padding: 1%;
    box-shadow: -5px 1px 7px 5px rgba(0, 0, 0, 0.25) inset;
    transition: .3s;
    cursor: pointer;
    scale: 0.6;
}
#mute>img{
    width: 80%;
}
#mute:hover{
    background-color: #3561ac;
    border: #ffca02 solid 3px;
}